*{
 box-sizing: border-box;
  padding: 0;
  margin: 0;  
}

.head{
    background-color: #F1F1F1;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-inline-end: 2.5rem;

    
}
.line1{
width: 16px;
top: 20.5px;
border: 1.5px solid #858585;
rotate: -90deg;
}
/* destop menu */
.cta-menu {
	width: 20%;
	display: block;
}

/* smallest screen */
@media screen and (max-width: 650px) {
	.cta-menu {
		display: none;
	}
}
a{
  text-decoration: none;
  color:#858585 ; 
}
.Home{
color: rgb(4, 4, 167);
}
.vantela{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 4px;
    width: 100vw;
    height: 100px;
    top: 50px;

}
.navmenu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 2rem;

}
/* .img{
	position: relative;
	width: 500px;
}
.img img{
	width: 100%;
	height: auto;
}
.imgword{

     position: absolute;
     width: 357.19px;
	 height: 92px;
     top: 400.7px;
     left: -18px;
     rotate: -5deg;
      font-size: 37px; 
      font-family: Arial, sans-serif; 
      font-weight: bold; 
      color: white;
      padding: 3px;
     font-style: italic;
     line-height: 45.88px;
     text-align: center;

}
.just{
	font-family: Arial, sans-serif;
font-size: 29.5px;
font-style: italic;
font-weight: 800;
line-height: 36.7px;
text-align: center;

}
.home{
	font-family: Arial, sans-serif;
	font-size: 28px;
	font-style: italic;
	font-weight: 800;
	line-height: 36.7px;
	text-align: center;
	
	color:rgb(255, 200, 47) ;
} */

/* mobile menu */
.mobilenavmenu,
.hamburger{
    display: none;
}
@media (max-width: 650px) {
	.hamburger {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		font-size: 1.2rem;
		height: 100%;
		width: 20px;
    padding-inline-end: 2rem;
	}

	.fa-times,
	.fa-bars {
		position: absolute;
		color:rgba(32, 7, 170, 0.952);
	}

	.fa-times {
		display: none;
	}

	.mobilenavmenu {
		display: none;
		position: fixed;
		padding: 20px 10px;
		background-color: rgba(32, 7, 170, 0.952);
		position: absolute;
		height: 100vh;
		width: 50%;
		right: 0;
		top: 100%;
		z-index: 9;
	}
	h2{
		padding:4px;
		margin-left: 9px;
		font-size:32px ;
		font-weight: 500;
		line-height: 38.73px;  
	  }
	  .line4{
		  margin-left: 10px;
		  margin-right: 10px;
		border: 1px solid #D9D9D9;  
		top: 295px;
	  }
	  .line{
		margin-left: 10px;
		margin-right: 10px;
	  border: 1px solid #D9D9D9;  
	  top: 295px;
	}
	  .form{
		 
		  display: grid;
		  place-items: center;
		  grid-template-columns: 1fr 1fr;
		  margin: 10px; 

	  }
	.name{
		display: flex;
		flex-direction: row;  
		align-items: center;
		justify-content: center;
	}

 .footer{
	background-color: rgb(2, 2, 51);
	padding: 6px;
	display: grid;
 }
 .subbtn{
	padding: 6px;
	border-radius: 8px;
 }
.subscribe{
display: flex;
align-items: center;
justify-content: space-between;
}
.socials{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
place-items: center;
gap: 10px;
margin: 3px;
}
.company{
	display: grid;
	place-items: center;

}
p{
	color: rgb(81, 81, 216);
}

}
